<div>
  <aside>
    <div>
      <div>
        <h3><%= @user.name %></h3>
      </div>
      <div>
        img
      </div>
    </div>
  </aside>
  <div>
    <ul>
      <li><a href="<%= user_path(@user) %>">Tasks <%= @count_tasks %></a></li>
    </ul>
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>